body {
  font-family: "Archivo Black", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: black;
}

.app-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-family: "Share Tech", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffdb33;
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out, background-color 0.1s ease-out;
}

button:hover {
  background-color: #ffcc00;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
  transform: translate(1px, 1px)
}

h1, h2 {
  font-size: 24px;
}

.timer-display p {
  font-size: 36px;
  font-weight: bold;
}

.timer-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.timer-selection-page .timer-options button {
  width: 130px;
  padding: 15px;
}

.timer-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 15px;
}

.selection-btn {
  height: 150px;
}

.home-page-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.home-page-exit-buttons {
  padding: 10px 20px;
  font-family: "Share Tech", sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: #fca5a5;
  color: black;
  border: 2px solid black;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out, background-color 0.1s ease-out;
}

.home-page-exit-buttons:hover {
  background-color: #f76c6c;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
  transform: translate(1px, 1px)
}